/* ---------------------------------------
      HOME              
  -----------------------------------------*/

/* #home {
  padding: 0;
}

#home h1 {
  color: #ffffff;
  padding-bottom: 30px;
}

#home h3 {
  color: #f9f9f9;
  font-size: 14px;
  line-height: inherit;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
}

@media (min-width: 768px) {
  .slider .col-md-8 {
    padding-left: 0;
  }
}

.slider .owl-dots {
  position: absolute;
  top: 50%;
  right: 2em;
  justify-content: center;
}

.owl-theme .owl-dots .owl-dot {
  display: block;
}

.owl-theme .owl-dots .owl-dot span {
  width: 12px;
  height: 12px;
  margin: 7px 10px;
  border: 2px solid #d9d9d9;
  background: transparent;
  display: block;

  transition: opacity 200ms ease;
  border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #ffffff;
  border-color: transparent;
}

.slider .caption {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  background-color: rgba(20, 20, 20, 0.2);
  height: 100%;
  color: #fff;
  cursor: e-resize;
  padding: 4em 0 0 2em;
}

.slider .item {
  background-position: inherit;
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: cover;
  height: 650px;
}

.slider .item-first {
  background-image: url(../../assets/images/mcdobbie-hu-5RgShZblKAQ-unsplash.jpg);
}
.slider .item-second {
  background-image: url(../../assets/images/pic2.jpg);
}

.slider .item-third {
  background-image: url(../../assets/images/fractal-hassan-XoNj0ulsn1Y-unsplash.jpg);
}

.slider .item-second .section-btn {
  background: #292929;
}

.slider .item-second .section-btn:hover {
  background: #ffffff;
}

.slider .item-third .section-btn {
  background: transparent;
  border: 1px solid #ffffff;
}

.slider .item-third .section-btn:hover,
.slider .item-third .section-btn:focus {
  background: #ce3232;
  border-color: transparent;
  color: #ffffff;
} */
