<!-- HOME -->
<section id="home" class="slider" data-stellar-background-ratio="0.5">
    <div class="row">

              <div class="owl-theme">
                   <div class="item item-first">
                        <div class="caption">
                             <div class="container">
                                  <div class="col-md-8 col-sm-12">
                                       <h3>Explore the world of technology</h3>
                                       <h1>Industry focused ICT skills development programmes for students</h1>
                                       <a href="#team" class="section-btn btn btn-default smoothScroll">Go through our courses</a>
                                  </div>
                             </div>
                        </div>
                   </div>

                  
              </div>

    </div>
</section>


<!-- ABOUT -->
<section id="about" data-stellar-background-ratio="0.5">
    <div class="container">
         <div class="row">

              <div class="col-md-6 col-sm-12">
                   <div class="about-info">
                        <div class="section-title wow fadeInUp" data-wow-delay="0.2s">
                             <h4>Read our story</h4>
                             <h2>What is ICT Academy of Kerala?</h2>
                        </div>

                        <div class="wow fadeInUp" data-wow-delay="0.4s">
                            <p>ICT Academy of Kerala is a Social Enterprise created in a Public Private Partnership model (PPP) for imparting ICT skills to the youths of Kerala and improve their employability opportunities in the Industry. The Company is supported by Govt. of India , partnered by Govt. of Kerala and the IT industry.</p>
                             <p>ICTAK do research and offers training programs on diverse streams,ranging from emerging technologies to life skills.

                                Being a Social Enterprise, we strive to enhance the technology skills of the youth thereby embibing industry relavent skills to this</p>
                        </div>
                   </div>
              </div>

              <div class="col-md-6 col-sm-12">
                   <div class="wow fadeInUp about-image" data-wow-delay="0.6s">
                       <img src="../../assets/images/website.jpg" alt="">
                   </div>
              </div>
              
         </div>
    </div>
</section>


<!-- TEAM -->
<section id="team" data-stellar-background-ratio="0.5">
    <div class="container">
         <div class="row">

              <div class="col-md-12 col-sm-12">
                   <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                        <h2>COURSES</h2>
                        <h4>Long Term Training ( 6 months )</h4>
                   </div>
              </div>

              <div class="col-md-4 col-sm-4">
                   <div class="team-thumb wow fadeInUp" data-wow-delay="0.2s">
                       <img src="../../assets/images/sigmund-FkUTlyPLhJQ-unsplash.jpg" class="img-responsive" alt="">
                             <div class="team-hover">
                                  <div class="team-item">
                                       <button class="btn btn-success "><a routerLink='course'>Know More</a></button>
                                       <!-- <h4>MEAN stack - MongoDB,Express.js,Angular and Node.js</h4>  -->
                                       <!-- <ul class="social-icon">
                                            <li><a href="#" class="fa fa-linkedin-square"></a></li>
                                            <li><a href="#" class="fa fa-envelope-o"></a></li>
                                       </ul> -->
                                  </div>
                             </div>
                   </div>
                   <div class="team-info">
                        <h3>Full Stack Development</h3>
                        <p>Certified Specialist in Full Stack Development </p>
                   </div>
              </div>

              <div class="col-md-4 col-sm-4">
                   <div class="team-thumb wow fadeInUp" data-wow-delay="0.4s">
                    <img src="../../assets/images/dataanalytics.jpg" class="img-responsive" alt="">

                             <div class="team-hover">
                                  <div class="team-item">
                                   <button class="btn btn-success "><a routerLink='course'>Know More</a></button>

                                       <!-- <h4>Gathering and Analyzing Data with technology</h4>
                                       <ul class="social-icon">
                                            <li><a href="#" class="fa fa-instagram"></a></li>
                                            <li><a href="#" class="fa fa-flickr"></a></li>
                                       </ul> -->
                                  </div>
                             </div>
                   </div>
                   <div class="team-info">
                        <h3>Data Science &amp; Analytics</h3>
                        <p>Certified Specialist in Data Science &amp; Analytics</p>
                   </div>
              </div>

              <div class="col-md-4 col-sm-4">
                   <div class="team-thumb wow fadeInUp" data-wow-delay="0.6s">
                    <img src="../../assets/images/cyber.jpg" class="img-responsive" alt="">

                             <div class="team-hover">
                                  <div class="team-item">
                                        <button class="btn btn-success "><a routerLink='course'>Know More</a></button>

                                       <!-- <h4>Protects company hardware,software and networks from cybercriminals</h4>
                                       <ul class="social-icon">
                                            <li><a href="#" class="fa fa-github"></a></li>
                                            <li><a href="#" class="fa fa-google"></a></li>
                                       </ul> -->
                                  </div>
                             </div>
                   </div>
                   <div class="team-info">
                        <h3>Cyber Security Analyst</h3>
                        <p>Certified Specialist in Cyber Security Analysis</p>
                   </div>
              </div>

              <div class="col-md-4 col-sm-4">
                <div class="team-thumb wow fadeInUp" data-wow-delay="0.2s">
                    <img src="../../assets/images/ROBOTIC.jpg" class="img-responsive" alt="">

                          <div class="team-hover">
                               <div class="team-item">
                                   <button class="btn btn-success "><a routerLink='course'>Know More</a></button>
                                    
                                    <!-- <h4>RPA is the use of software with AI and machine learning capabilities</h4> 
                                    <ul class="social-icon">
                                         <li><a href="#" class="fa fa-linkedin-square"></a></li>
                                         <li><a href="#" class="fa fa-envelope-o"></a></li>
                                    </ul> -->
                               </div>
                          </div>
                </div>
                <div class="team-info">
                     <h3>Robotic Process Automation</h3>
                     <p>Certified Specialist in Robotic Process Automation </p>
                </div>
              </div>

              <div class="col-md-4 col-sm-4">
                <div class="team-thumb wow fadeInUp" data-wow-delay="0.2s">
                    <img src="../../assets/images/digital.jpg" class="img-responsive" alt="">

                          <div class="team-hover">
                               <div class="team-item">
                                   <button class="btn btn-success "><a routerLink='course'>Know More</a></button>

                                    <!-- <h4>Digital marketing encompasses all  marketing efforts that use an electronic device or the internet </h4> 
                                    <ul class="social-icon">
                                         <li><a href="#" class="fa fa-linkedin-square"></a></li>
                                         <li><a href="#" class="fa fa-envelope-o"></a></li>
                                    </ul> -->
                               </div>
                          </div>
                </div>
                <div class="team-info">
                     <h3>Digital Marketing</h3>
                     <p>Certified Specialist in Digital Marketing </p>
                </div>
              </div>

              <div class="col-md-4 col-sm-4">
                <div class="team-thumb wow fadeInUp" data-wow-delay="0.2s">
                    <img src="../../assets/images/testing.jpg" class="img-responsive" alt="">

                          <div class="team-hover">
                               <div class="team-item">
                                   <button class="btn btn-success "><a routerLink='course'>Know More</a></button>

                                    <!-- <h4>Software testing is the process of evaluating and verifying that a software product</h4> 
                                    <ul class="social-icon">
                                         <li><a href="#" class="fa fa-linkedin-square"></a></li>
                                         <li><a href="#" class="fa fa-envelope-o"></a></li>
                                    </ul> -->
                               </div>
                          </div>
                </div>
                <div class="team-info">
                     <h3>Software Testing</h3>
                     <p>Certified Specialist in Software Testing </p>
                </div>
              </div>

              
         </div>
    </div>
</section>



<!-- CONTACT -->
<section id="contact" data-stellar-background-ratio="0.5">
    <div class="container">
         <div class="row">
<!-- How to change your own map point
      1. Go to Google Maps
      2. Click on your location point
      3. Click "Share" and choose "Embed map" tab
      4. Copy only URL and paste it within the src="" field below
-->
              <div class="wow fadeInUp col-md-6 col-sm-12" data-wow-delay="0.4s">
                   <div id="google-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3945.4073529936272!2d76.87995031371918!3d8.556769993849297!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b05befa954e2bb7%3A0x5a237b1a5fa40a39!2sICT%20Academy%20of%20Kerala!5e0!3m2!1sen!2sin!4v1639925828263!5m2!1sen!2sin"></iframe>
                   </div>
              </div>    

              <div class="col-md-6 col-sm-12">

                   <div class="col-md-12 col-sm-12">
                        <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                             <h2>Contact Us</h2>
                        </div>
                   </div>

                   <!-- CONTACT FORM -->
                   <form action="#" method="post" class="wow fadeInUp" id="contact-form" role="form" data-wow-delay="0.8s">

                        <!-- IF MAIL SENT SUCCESSFUL  // connect this with custom JS -->
                        <h6 class="text-success">Your message has been sent successfully.</h6>
                        
                        <!-- IF MAIL NOT SENT -->
                        <h6 class="text-danger">E-mail must be valid and message must be longer than 1 character.</h6>

                        <div class="col-md-6 col-sm-6">
                             <input type="text" class="form-control" id="cf-name" name="name" placeholder="Full name">
                        </div>

                        <div class="col-md-6 col-sm-6">
                             <input type="email" class="form-control" id="cf-email" name="email" placeholder="Email address">
                        </div>

                        <div class="col-md-12 col-sm-12">
                             <input type="text" class="form-control" id="cf-subject" name="subject" placeholder="Subject">

                             <textarea class="form-control" rows="6" id="cf-message" name="message" placeholder="Tell about your project"></textarea>

                             <button type="submit" class="form-control" id="cf-submit" name="submit">Send Message</button>
                        </div>
                   </form>
              </div>

         </div>
    </div>
</section>
