<!-- HOME -->
<section id="home" class="slider" data-stellar-background-ratio="0.5">
    <div class="row">

              <div class="owl-theme">
                   <div class="item1 item-first">
                        <div class="caption">
                             <div class="container">
                                  <div class="col-md-8 col-sm-12">
                                       <h3>Explore the world of technology</h3>
                                       <h1>Industry focused ICT skills development programmes for students</h1>
                                       <a routerLink='/courses' class="section-btn btn smoothScroll">Go through our courses</a>
                                  </div>
                             </div>
                        </div>
                   </div>
              </div>

    </div>
</section>


<!-- ABOUT -->
<section id="about" data-stellar-background-ratio="0.5">
    <div class="container">
         <div class="row">

              <div class="col-md-6 col-sm-12">
                   <div class="about-info">
                        <div class="section-title wow fadeInUp" data-wow-delay="0.2s">
                             <h4>Read our story</h4>
                             <h2>What is ICT Academy of Kerala?</h2>
                        </div>

                        <div class="wow fadeInUp" data-wow-delay="0.4s">
                            <p>ICT Academy of Kerala is a Social Enterprise created in a Public Private Partnership model (PPP) for imparting ICT skills to the youths of Kerala and improve their employability opportunities in the Industry. The Company is supported by Govt. of India , partnered by Govt. of Kerala and the IT industry.</p>
                             <p>ICTAK do research and offers training programs on diverse streams,ranging from emerging technologies to life skills.

                                Being a Social Enterprise, we strive to enhance the technology skills of the youth thereby embibing industry relavent skills to this</p>
                        </div>
                   </div>
              </div>

              <div class="col-md-6 col-sm-12" >
                   <div class="wow fadeInUp about-image" data-wow-delay="0.6s">
                       <img src="../../assets/images/website1 (2).jpg" alt="">
                   </div>
              </div>
              
         </div>
    </div>
</section>


<!-- TEAM -->
<section id="team" data-stellar-background-ratio="0.5">
    <div class="container">
         <div class="row">

              <div class="col-md-12 col-sm-12">
                   <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                        <h2>COURSES</h2>
                        <h4>Long Term Training ( 6 months )</h4>
                   </div>
              </div>

              <div class="col-md-4 col-sm-4" *ngFor='let course of courses; let i=index' >
                   <div *ngIf='i<3'>

                    
                    <div class="team-thumb wow fadeInUp" data-wow-delay="0.2s" >
                         <img src="http://localhost:5000/images/{{course._id}}.jpg" style="height: 200px;" class="img-responsive" alt="">
                              <div class="team-hover">
                                   <div class="team-item">
                                        <button class="btn btn-success "><a (click)="showCourse(course)">Know More</a></button>
                                        
                                   </div>
                              </div>
                    </div>
                    <div class="team-info">
                         <h3>{{course.name}}</h3>
                         <p>{{course.certification}} </p>
                    </div>

                    </div>
              </div>
            </div>

    </div>
    <div class="container">
         <a routerLink="/courses"><button class="btn btn-primary">Show More</button></a>
     </div>
</section>




