<div class="container reg">
<div class="wrapper">
    <div class="title">
      Registration Form
    </div>
    <form  #employeeReg='ngForm' (submit)="employeeRegister()">
    <div class="form">
       <div class="inputfield">
          <label>Name</label>
          <input  type="text" [(ngModel)]="user.name" class="input" name="name" required>
       </div>  
        <div class="inputfield">
          <label>Email</label>
          <input type="email" [(ngModel)]="user.email" class="input" name="email" required>
       </div>  
       <div class="inputfield">
         <label>Password</label>
         <input type="password" [(ngModel)]="user.password" class="input" name="password" required>
      </div> 
      <div class="inputfield">
          <label>Role</label>
          <input type="text" [(ngModel)]="user.role" class="input" name="role" required>
          
       </div>
       
      <div class="inputfield">
         <button type="submit" class="btn btn-primary" [disabled]='employeeReg.form.invalid'>Register</button>
      </div>
    </div>
   </form>
</div>
</div>