<section id="home" class="slider" data-stellar-background-ratio="0.5">
   <div class="row">

             <div class="owl-theme">
                  <div class="item item-third">
                       <div class="caption">
                            <div class="container">
                                 <div class="col-md-8 col-sm-12">
                                     <h1> JOIN US</h1>
                                 </div>
                            </div>
                       </div>
                  </div>

                 
             </div>

   </div>
</section>
<div class="wrapper">
    <div class="title">
      Registration Form
    </div>
    <form (ngSubmit)="registerStudent()" #studentReg='ngForm' enctype="multipart/form-data" [formGroup]="loginForm">
    <div class="form">
       <div class="inputfield" >
          <label>Name</label>
          <input type="text"  class="input form-control" formControlName='name' name="name" required>
       </div>  
        <div class="inputfield">
          <label>Email</label>
          <input type="email" class="input form-control" formControlName='email' name="email">
         </div> 
         <div class="inputfield">
          <label></label>
          <span style="color: red; margin-top: -2%;" *ngIf='email && email.invalid && email.touched '>Email is not valid</span>
         </div>
            
       <div class="inputfield">
         <label>Password</label>
         <input type="password" class="input form-control" formControlName='password' name="password">
      </div>
      <div class="inputfield">
         <label></label>
         <span style="color: red; margin-top: -2%;" *ngIf='password && password.invalid && password.touched ' class="alert alert-danger">Password is not valid</span>
        </div>

       <div class="inputfield">
          <label>Mobile No.</label>
          <input type="tel" class="input form-control" formControlName='mobile' name="phone">
       </div>  
      <div class="inputfield">
          <label>Address</label>
          <input type="text" class="input form-control" formControlName='address' name="address" required>
          
       </div>
       <div class="inputfield">
         <label>District</label>
         <input type="text" class="input form-control" formControlName='district' name="district" required>
         
      </div> 
      <div class="inputfield">
         <label>State</label>
         <input type="text" class="input form-control" formControlName='state' name="state" required>
         
      </div>  
        
        <div class="inputfield">
          <label>Qualification</label>
          <input type="text"  class="input form-control" formControlName='qualification' name="qualification" required>
       </div> 
      <div class="inputfield">
          <label>Passout Year</label>
          <input type="number" class="input form-control" formControlName='passout' name="passout" required>
       </div> 
      <div class="inputfield">
          <label>Skills</label>
          <input type="text" class="input form-control" formControlName='skillset' name="skills" required>

       </div> 

       <div class="inputfield">
          <label>Employment Status</label>
          <div class="custom_select">
            <select class="form-control" formControlName='employmentStatus' name="employmentStatus">
              <option value="">Select</option>
              <option value="employee">Employee</option>
              <option value="student">Student</option>
              <option value="self">Self Employed</option>

            </select>
          </div>
       </div> 

      <div class="inputfield">
          <label>Technology Training</label>
          <input type="text" class="input form-control" formControlName='technologyTraining' name="techtraining" required>
       </div> 

       <div class="inputfield">
        <label>Course</label>
        <div class="custom_select">
          <select name="course" #course (change)="courseFee(course.value)" formControlName='course' required>
            <option selected disabled value="">Choose Course</option>
            <option *ngFor='let course of courses' value="{{course._id}}" >{{course.name}}
                  
            </option>
           

          </select>
        </div>
     </div>

     <div class="inputfield">
        <label>Course Fee</label>
        <input disabled="disabled" value="{{fees}}" type='text' class="input form-control"  name="coursefee" required>
     </div>

     <div class="inputfield">
      <label for="file">Upload Photo</label>
      <input type="file" (change)="selectImage($event)" formControlName='image' class="input form-control" name="image" required>
   </div> 
       
      <div class="inputfield">
         <button type="submit" class="btn btn-primary" [disabled]='studentReg.form.invalid && loginForm.invalid'>Register</button>
      </div>
    </div>
   </form>
</div>
