<section id="home" class="slider" data-stellar-background-ratio="0.5">
  <div class="row">

            <div class="owl-theme">
                 <div class="item item-third">
                      <div class="caption">
                           <div class="container">
                                <div class="col-md-8 col-sm-12">
                                    <h1>STUDENT DETAILS</h1>
                                </div>
                           </div>
                      </div>
                 </div>

                
            </div>

  </div>
</section>
<!-- Student Profile -->


<div class="container emp-profile">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <img src="http://localhost:5000/images/{{student._id}}.jpg" alt=""/>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">
        
                            <p>SKILLS</p>
                            <a>{{student.skillset}}</a><br/>
                        
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Student Id</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{student.id}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{student.name}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{student.email}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Phone</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{student.phone}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Employment Status</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{student.employmentStatus}}</p>
                                            </div>
                                        </div>
                            </div>
                            <div >
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Qualification</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{student.qualification}}</p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Passout Year</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{student.passout}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Technology Training</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{student.technologyTraining}}</p>
                                    </div>
                                </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Address</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{student.address}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>District</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{student.district}}</p>
                                            </div>
                                        </div>
                                       
                                  
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>State</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{student.state}}</p>
                                            </div>
                                        </div>
                               
                            </div>
                        </div>
                    </div>
                </div>         
        </div>