@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500&display=swap");

/* new design */
body {
  padding: 50px 0;
  margin: 0;
  font-family: "Comfortaa", cursive;
  color: #000;
  height: 500px;
  background: linear-gradient(black, #603a40);
}

.student-profile .card {
  border-radius: 10px;
  background-color: whitesmoke;
}
.student-profile .card .card-body {
  padding-top: 20px;
  padding-left: 10px;
  /* background-color: pink; */
  background: linear-gradient(#d6bdc7, white);
}
.student-profile .card .card-header .profile_img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 10px auto;
  border: 10px solid #d6bdc7;
  border-radius: 50%;
}

.student-profile .card h3 {
  font-size: 20px;
  font-weight: 700;
}

.student-profile .card p {
  font-size: 16px;
  color: #000;
}

.student-profile .table th,
.student-profile .table td {
  font-size: 14px;
  padding: 5px 10px;
  color: #000;
}
.student-profile .card {
  padding: 30px;
}
.student-profile .profile {
  padding: 20px;
}
.student-profile .update span {
  border: 1px solid black;
  padding: 7px;
  background-color: #6e4d52;
  color: white;
}
.student-profile .update {
  margin-top: 8px;
}
.student-profile .update span:hover {
  background-color: white;
  color: black;
}
