<!-- HOME -->
<section id="home" class="slider" data-stellar-background-ratio="0.5">
    <div class="row">

              <div class="owl-theme">
                   <div class="item item-third">
                        <div class="caption">
                             <div class="container">
                                  <div class="col-md-8 col-sm-12">
                                      <h1>{{course.name}}</h1>
                                      <!-- <h3>MEAN stack - MongoDB,Express.js,Angular and Node.js</h3> -->
                                       <!-- <a href="#team" class="section-btn btn btn-default smoothScroll">Go through our courses</a> -->
                                  </div>
                             </div>
                        </div>
                   </div>

                  
              </div>

    </div>
</section>


<!-- ABOUT -->
<section id="about" data-stellar-background-ratio="0.5">
    <div class="container">
         <div class="row">

              <div class="col-md-6 col-sm-12">
                   <div class="about-info">
                        <div class="section-title wow fadeInUp" data-wow-delay="0.2s">
                             <!-- <h4>Build Your Website</h4> -->
                             <h2>{{course.name}}</h2>
                        </div>

                        <div class="wow fadeInUp" data-wow-delay="0.4s">
                            <!-- <p>ICT Academy of Kerala is a Social Enterprise created in a Public Private Partnership model (PPP) for imparting ICT skills to the youths of Kerala and improve their employability opportunities in the Industry. The Company is supported by Govt. of India , partnered by Govt. of Kerala and the IT industry.</p> -->
                             <p>
                                 {{course.details}}
                             </p>
                        </div>
                   </div>
              </div>

              <div class="col-md-6 col-sm-12">
                   <div class="wow fadeInUp about-image" data-wow-delay="0.6s">
                       <img src="../../assets/images/website.jpg" alt="">
                   </div>
              </div>
              
         </div>
    </div>
</section>

<!-- course details -->

<div id="generic_price_table">   
    <section>
            <!-- <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="price-heading clearfix">
                            <h1>Bootstrap Pricing Table</h1>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="container">
                
                <!--BLOCK ROW START-->
                <div class="row">
                    <!-- <div class="col-md-4">
                    
                   
                            
                    </div> -->
                <!--------- ELIGIBILITY CRITERIA --------------->

                     <div class="col-md-8">
                    
                        
                        <div class="generic_content active clearfix">
                            
                            
                            <div class="generic_head_price clearfix">
                            
                                
                                <div class="generic_head_content clearfix">
                                
                                   
                                    <div class="head_bg"></div>
                                    <div class="head">
                                        <span>Eligibility Criteria</span>
                                    </div>
                                   
                                </div>
                                <div class="generic_price_tag clearfix">	
                                    <span class="price">
                                        <span class="sign">₹</span>
                                        <span class="currency">18,400/- </span>
                                    </span>
                                </div>
                            </div> 
                            
                            <!--FEATURE LIST START-->
                            <div class="generic_feature_list">
                                <ul>
                                    <li><span>{{course.eligibility}}</span> </li>
                                   
                                </ul>
                            </div>
                            <!--//FEATURE LIST END-->
                            
                            <!--BUTTON START-->
                            <!-- <div class="generic_price_btn clearfix">
                                <a class="" href="">Sign up</a>
                            </div> -->
                            <!--//BUTTON END-->
                            
                        </div>
                        <!--//PRICE CONTENT END-->
                            
                    </div>

                <!-- ------  Eligibility ends-------- -->


                 <!-- -----------Course Fee ------------------ -->
                    <div class="col-md-4">
                    
                        <!--PRICE CONTENT START-->
                        <div class="generic_content active clearfix">
                            
                            <!--HEAD PRICE DETAIL START-->
                            <div class="generic_head_price clearfix">
                            
                                <!--HEAD CONTENT START-->
                                <div class="generic_head_content clearfix">
                                
                                    <!--HEAD START-->
                                    <div class="head_bg"></div>
                                    <div class="head">
                                        <span>Course Fee</span>
                                    </div>
                                    <!--//HEAD END-->
                                    
                                </div>
                                <!--//HEAD CONTENT END-->
                                
                                <!--PRICE START-->
                                <div class="generic_price_tag clearfix">	
                                    <span class="price">
                                        <span class="sign">₹</span>
                                        <span class="currency">{{course.price}} </span>
                                    </span>
                                </div>
                                <!--//PRICE END-->
                                
                            </div> 
                                                       
                            <!--//HEAD PRICE DETAIL END-->
                            
                           
                            
                            <!-- BUTTON START-->
                            <div class="generic_price_btn clearfix">
                                <a (click)="registerNow(course)">Enroll Now</a>
                            </div>
                            <!--//BUTTON END -->
                            
                        </div>
                        <!--//PRICE CONTENT END-->
                            
                    </div>

                 <!-- -----------Course Fee ends------------------ -->
                   


                </div>	
                <!--//BLOCK ROW END-->
                
            </div>
        </section>             
    </div>