.form {
  background-image: linear-gradient(rgb(122, 120, 120), rgb(14, 12, 12));
  padding: 40px 20px 30px 20px;
  margin-top: 50px;
  background-size: cover;
}
.start {
  justify-content: center;
}
