.form {
  padding: 40px 20px 30px 20px;
  margin-top: 50px;
  background-image: url(../../assets/images/addbg.jpg);
  background-size: cover;
}
.start {
  justify-content: center;
}
input {
  background-color: lightcyan;
}
