<!-- PRE LOADER -->
<section class="preloader">
    <div class="spinner">

         <span class="spinner-rotate"></span>
         
    </div>
</section>


<!-- MENU -->
<section class="navbar custom-navbar navbar-fixed-top " role="navigation">
    <div class="container">

         <div class="navbar-header">
              <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                   <span class="icon icon-bar"></span>
                   <span class="icon icon-bar"></span>
                   <span class="icon icon-bar"></span>
              </button>

              <!-- lOGO TEXT HERE -->
              <a routerLink="" class="navbar-brand">ICTAK <span>.</span> Enroll </a>
         </div>

         <!-- MENU LINKS -->
         <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-nav-first">
                   <li><a routerLink="home" class="smoothScroll">Home</a></li>
                   <li><a routerLink="add-course" *ngIf="auth.adminLoggedIn()" class="smoothScroll">Add Course</a></li>
                   <li><a routerLink="courses" class="smoothScroll">Courses</a></li>
                   <li><a routerLink="students" *ngIf="auth.adminLoggedIn()||auth.employeeLoggedIn()" class="smoothScroll">All Students</a></li>
                   <li><a routerLink="employee-approval" *ngIf="auth.adminLoggedIn()" class="smoothScroll">Employee Approval</a></li>
                   <li><a routerLink="employees" *ngIf="auth.adminLoggedIn()" class="smoothScroll">Employees</a></li> 
                   <li><a routerLink="search" *ngIf="auth.adminLoggedIn()||auth.employeeLoggedIn()" class="smoothScroll">Search</a></li> 
                   <li><a (click)="logoutUser()" *ngIf="auth.adminLoggedIn()||auth.employeeLoggedIn()||auth.studentLoggedIn()" class="smoothScroll">Logout</a></li> 
              </ul>

              <ul  class="nav navbar-nav navbar-right ">
                    <li>
                        <button *ngIf="!auth.adminLoggedIn()&&!auth.employeeLoggedIn()&&!auth.studentLoggedIn()" class="btn btn-primary login" >
                             <a  routerLink="/login/studentlogin"> LogIn </a>
                        </button>
                    </li>
              </ul>
          </div>

    </div>
</section>
