<!-- PRE LOADER -->
<section class="preloader">
    <div class="spinner">

         <span class="spinner-rotate"></span>
         
    </div>
</section>


<!-- MENU -->
<section class="navbar custom-navbar navbar-fixed-top" role="navigation">
    <div class="container">

         <div class="navbar-header">
              <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                   <span class="icon icon-bar"></span>
                   <span class="icon icon-bar"></span>
                   <span class="icon icon-bar"></span>
              </button>

              <!-- lOGO TEXT HERE -->
              <a href="index.html" class="navbar-brand">ICTAK <span>.</span> Enroll </a>
         </div>

         <!-- MENU LINKS -->
         <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-nav-first">
                   <li><a href="#home" class="smoothScroll">Home</a></li>
                   <li><a href="#about" class="smoothScroll">About</a></li>
                   <li><a href="" class="smoothScroll">Add Course</a></li>
                   <li><a href="#team " class="smoothScroll">Courses</a></li>
                   <li><a href="#contact" class="smoothScroll">Contact Us</a></li>
                   <li>
                    <div class="search-container">
                         <form action="/search" method="get">
                           <input class="search" id="searchleft" type="search" name="q" placeholder="Search">
                           <label class="button searchbutton" for="searchleft"><span class="mglass">&#9906;</span></label>
                         </form>
                       </div>
                   </li>
              </ul>

              <ul class="nav navbar-nav navbar-right login">
                   <li>
                        <button class="button">
                             <a href="#">LogIn</a>
                         </button>
                    </li>
              </ul>
         </div>

    </div>
</section>
