<div class="login-page">
    <div class="form">
      <form class="login-form" (submit)="login()"  #userlogin='ngForm'>
        <input type="email" [(ngModel)]="user.email" placeholder="Enter the mail id" name="email"  required />
        <input type="password" [(ngModel)]="user.password" placeholder="Enter the password" name="password"  required/>
              <select [(ngModel)]="user.role" name="role" required>
                <option value="">Select</option>
                <option value="employee">Employee</option>
                <option value="student">Student</option>
                <option value="admin">Admin</option>
              </select>

        <button [disabled]='userlogin.form.invalid'>login</button>
        
      </form>
    </div>
  </div>