body {
  margin: 0;
  padding: 0;
  background: url(../../assets/images/loginbg.jpg);
  /* background-color: #a6808c; */
  background-size: cover;
  font-family: sans-serif;
  margin-bottom: 20px;
}

.box {
  position: relative;
  margin-top: 20%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  width: 30rem;
  padding: 2.5rem;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 0.625rem;
}
@media only screen and (max-width: 650px) {
  .box {
    /* position: relative; */
    margin-top: 40%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    width: 30rem;
    padding: 2.5rem;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 0.625rem;
  }
}
.box h2 {
  margin: 0 0 1.875rem;
  padding: 0;
  color: #fff;
  text-align: center;
}

.box .inputBox {
  position: relative;
}

.box .inputBox input {
  width: 100%;
  padding: 0.625rem 0;
  font-size: 1rem;
  color: #fff;
  letter-spacing: 0.062rem;
  margin-bottom: 1.875rem;
  border: none;
  border-bottom: 0.065rem solid #fff;
  outline: none;
  background: transparent;
}

.box .inputBox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.625rem 0;
  font-size: 1rem;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label,
.box .inputBox input:not([value=""]) ~ label {
  top: -1.125rem;
  left: 0;
  color: #03a9f4;
  font-size: 0.75rem;
}

.box input[type="submit"] {
  border: none;
  outline: none;
  color: #fff;
  background-color: #03a9f4;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  border-radius: 0.312rem;
  font-size: 1rem;
}

.box input[type="submit"]:hover {
  background-color: #1cb1f5;
}
.box .dropdown select {
  opacity: 0.5;
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
}
