<section id="home" class="slider" data-stellar-background-ratio="0.5">
    <div class="row">

              <div class="owl-theme">
                   <div class="item item-sixth ">
                        <div class="caption">
                             <div class="container">
                                  <div class="col-md-8 col-sm-12">
                                      <h1  style="padding-left: 8%;">Employees</h1>
                                  </div>
                             </div>
                        </div>
                   </div>

                  
              </div>

    </div>
</section>
<div class="page">
    <div class="page-header cf">
      <h2>OUR EMPLOYEES</h2>
    </div>
    <ul class="student-list" *ngFor='let employee of employees' >
      <li class="student-item cf">
          <div class="student-details">
              <h3>{{employee.name}}</h3>
              <span class="email">{{employee.role}}</span><br>
              <span class="email">{{employee.email}}</span>
          </div>
          <div class="joined-details">
                 <button (click)="editEmployee(employee)" class="btn btn-warning">Edit</button>
                 <button (click)="deleteEmployee(employee)" class="btn btn-danger">Delete</button>
         </div>
      </li>
    </ul>
  </div>
