
     <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    
                    <div class="col-md-12 item text">
                         <div class="col-md-3">
                              <h3>ICT ACADEMY HQ</h3>
                              <p>
                                   L-9, Thejaswini Building,
                                   Technopark, Thiruvananthapuram,
                                   Kerala, India.
                                   <br>
                                   <a href="tel://+91 7594051437">Phone: 7594051437</a>
                                   
                              </p>
                         </div>
                         <div class="col-md-3">
                              <h3>ICT ACADEMY-CENTRAL REGION</h3>
                              <p>
                                   Ground Floor,Rajamally Building,
                                   Infopark, Koratty,
                                   Thrissur, Kerala, India.
                                  
                                   <a href="tel://+91 7594051437">Phone: 7594051437</a>
                                   
                              </p>
                         </div>
                         <div class="col-md-3">
                              <h3>ICT ACADEMY-NORTH REGION</h3>
                              <p>
                                   2nd Floor, Ul Cyberpark Building,
                                   Nellikode PO, Kozhikode,
                                   Kerala, India.
                                   <br>
                                   <a href="tel://+91 7594051437">Phone: 7594051437</a>

                                   
                              </p>
                         </div>
                         <div class="col-md-3">
                              <h3>ICT ACADEMY-SOUTH REGION</h3>
                              <p>
                                   L-9, Thejaswini Building,
                                   Technopark, Thiruvananthapuram,
                                   Kerala, India.
                                    <br>
                                   <a href="tel://+91 7594051437">Phone: 7594051437</a>


                              </p>
                         </div>
                    </div>

                    
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="mailto:creationzv@gmail.com"><i class="icon ion-android-mail"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">ICTAK © 2021</p>
            </div>
        </footer>
     </div>